POSTGRES_DB=market_ratings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

ANALYSIS_SERVICE_PORT=8000
RATING_SERVICE_PORT=8080
ANALYSIS_SERVICE_URL=http://analysis-service:8000

BASE_MODEL_NAME=DeepPavlov/rubert-base-cased
